<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Distance_Learning</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Student_Admission</display-name>
    <servlet-name>Student_Admission</servlet-name>
    <servlet-class>com.controllers.admin.Student_Admission</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_Admission</servlet-name>
    <url-pattern>/Student_Admission</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Write_Updates</display-name>
    <servlet-name>Write_Updates</servlet-name>
    <servlet-class>com.controllers.admin.Write_Updates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Write_Updates</servlet-name>
    <url-pattern>/Write_Updates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_Subject</display-name>
    <servlet-name>Insert_Subject</servlet-name>
    <servlet-class>com.controllers.admin.Insert_Subject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_Subject</servlet-name>
    <url-pattern>/Insert_Subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_UpdateProfile</display-name>
    <servlet-name>Student_UpdateProfile</servlet-name>
    <servlet-class>com.controllers.student.Student_UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_UpdateProfile</servlet-name>
    <url-pattern>/Student_UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_Profile</display-name>
    <servlet-name>Student_Profile</servlet-name>
    <servlet-class>com.controllers.student.Student_Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_Profile</servlet-name>
    <url-pattern>/Student_Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Create_NewAdmin</display-name>
    <servlet-name>Create_NewAdmin</servlet-name>
    <servlet-class>com.controllers.superadmin.Create_NewAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Create_NewAdmin</servlet-name>
    <url-pattern>/Create_NewAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Subject</display-name>
    <servlet-name>Delete_Subject</servlet-name>
    <servlet-class>com.controllers.admin.Delete_Subject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Subject</servlet-name>
    <url-pattern>/Delete_Subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_Book</display-name>
    <servlet-name>Insert_Book</servlet-name>
    <servlet-class>com.controllers.admin.Insert_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_Book</servlet-name>
    <url-pattern>/Insert_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_ShowBooks</display-name>
    <servlet-name>Student_ShowBooks</servlet-name>
    <servlet-class>com.controllers.student.Student_ShowBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_ShowBooks</servlet-name>
    <url-pattern>/Student_ShowBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change_password</display-name>
    <servlet-name>Change_password</servlet-name>
    <servlet-class>com.controllers.login.Change_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change_password</servlet-name>
    <url-pattern>/Change_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget_Password</display-name>
    <servlet-name>Forget_Password</servlet-name>
    <servlet-class>com.controllers.login.Forget_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget_Password</servlet-name>
    <url-pattern>/Forget_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reset_Password</display-name>
    <servlet-name>Reset_Password</servlet-name>
    <servlet-class>com.controllers.login.Reset_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reset_Password</servlet-name>
    <url-pattern>/Reset_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Set_New_Password</display-name>
    <servlet-name>Set_New_Password</servlet-name>
    <servlet-class>com.controllers.login.Set_New_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Set_New_Password</servlet-name>
    <url-pattern>/Set_New_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display_Subjects</display-name>
    <servlet-name>Display_Subjects</servlet-name>
    <servlet-class>com.controllers.admin.Display_Subjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_Subjects</servlet-name>
    <url-pattern>/Display_Subjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List_Students</display-name>
    <servlet-name>List_Students</servlet-name>
    <servlet-class>com.controllers.admin.List_Students</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_Students</servlet-name>
    <url-pattern>/List_Students</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Students</display-name>
    <servlet-name>Delete_Students</servlet-name>
    <servlet-class>com.controllers.admin.Delete_Students</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Students</servlet-name>
    <url-pattern>/Delete_Students</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Check</display-name>
    <servlet-name>Login_Check</servlet-name>
    <servlet-class>com.controllers.login.Login_Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Check</servlet-name>
    <url-pattern>/Login_Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Updates</display-name>
    <servlet-name>Delete_Updates</servlet-name>
    <servlet-class>com.controllers.admin.Delete_Updates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Updates</servlet-name>
    <url-pattern>/Delete_Updates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display_Books</display-name>
    <servlet-name>Display_Books</servlet-name>
    <servlet-class>com.controllers.admin.Display_Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_Books</servlet-name>
    <url-pattern>/Display_Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Book</display-name>
    <servlet-name>Delete_Book</servlet-name>
    <servlet-class>com.controllers.admin.Delete_Book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Book</servlet-name>
    <url-pattern>/Delete_Book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Student_BYCourse</display-name>
    <servlet-name>Delete_Student_BYCourse</servlet-name>
    <servlet-class>com.controllers.admin.Delete_Student_BYCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Student_BYCourse</servlet-name>
    <url-pattern>/Delete_Student_BYCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Admin</display-name>
    <servlet-name>Delete_Admin</servlet-name>
    <servlet-class>com.controllers.superadmin.Delete_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Admin</servlet-name>
    <url-pattern>/Delete_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Visitor_Feedback</display-name>
    <servlet-name>Visitor_Feedback</servlet-name>
    <servlet-class>com.controllers.visitor.Visitor_Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visitor_Feedback</servlet-name>
    <url-pattern>/Visitor_Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Students</display-name>
    <servlet-name>View_Students</servlet-name>
    <servlet-class>com.controllers.admin.View_Students</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Students</servlet-name>
    <url-pattern>/View_Students</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List_Books_Delete</display-name>
    <servlet-name>List_Books_Delete</servlet-name>
    <servlet-class>com.controllers.admin.List_Books_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List_Books_Delete</servlet-name>
    <url-pattern>/List_Books_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Details</display-name>
    <servlet-name>Update_Details</servlet-name>
    <servlet-class>com.controllers.admin.Update_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Details</servlet-name>
    <url-pattern>/Update_Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Questions</display-name>
    <servlet-name>Add_Questions</servlet-name>
    <servlet-class>com.controllers.admin.Add_Questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Questions</servlet-name>
    <url-pattern>/Add_Questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Questions</display-name>
    <servlet-name>Delete_Questions</servlet-name>
    <servlet-class>com.controllers.admin.Delete_Questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Questions</servlet-name>
    <url-pattern>/Delete_Questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display_Questions</display-name>
    <servlet-name>Display_Questions</servlet-name>
    <servlet-class>com.controllers.admin.Display_Questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_Questions</servlet-name>
    <url-pattern>/Display_Questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Questions</display-name>
    <servlet-name>View_Questions</servlet-name>
    <servlet-class>com.controllers.admin.View_Questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Questions</servlet-name>
    <url-pattern>/View_Questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_OnlineTest</display-name>
    <servlet-name>Student_OnlineTest</servlet-name>
    <servlet-class>com.controllers.student.Student_OnlineTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_OnlineTest</servlet-name>
    <url-pattern>/Student_OnlineTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_Answer</display-name>
    <servlet-name>Check_Answer</servlet-name>
    <servlet-class>com.controllers.student.Check_Answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_Answer</servlet-name>
    <url-pattern>/Check_Answer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Results</display-name>
    <servlet-name>View_Results</servlet-name>
    <servlet-class>com.controllers.admin.View_Results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Results</servlet-name>
    <url-pattern>/View_Results</url-pattern>
  </servlet-mapping>
</web-app>